:root {
    --card-border: 1px solid rgb(0 0 0 / 20%);
    --card-spacer: 1rem;

    /* card-cap，card 的「蓋子」，指的是 .card-header 和 .card-footer
    cap 本來就是「蓋子、頂部、封口」

    在 UI 元件中，用來指「容器最上或最下那一塊固定區域」 */
    --card-cap-color: rgb(211 211 211 / 50%);
    --card-cap-padding: 0.5rem 1rem;

    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: 16px;
}

.card {
    /* color: #212529; */

    margin: 123px;
    border: var(--card-border);
    border-radius: 8px;

    /* 現代 UI 框架普遍，不直接用純黑，而用深灰色或帶透明黑色 */
    color: rgb(0 0 0 / 87.5%);
}

.card-header {
    padding: var(--card-cap-padding);
    border-bottom: var(--card-border);
    background-color: var(--card-cap-color);
}

.card-body {
    padding: var(--card-spacer);
}

.card-footer {
    padding: var(--card-cap-padding);
    border-top: var(--card-border);
    background-color: var(--card-cap-color);
}