/** @define inventory */
:root {
    --border: #282F37;
    --border-light: #3c464c;
    --inventory-padding-x: 1rem;
    --inventory-padding-y: 1rem;
    --border-radius-pill: 50rem;
    --text-shadow: 1px 1px 0 rgb(0 0 0 / 25%);

    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

* {
    font-family: Geneva, sans-serif;
}

body {
    background-color: #58576d;
    background-image: url("https://picsum.photos/id/42/1980/1024");
}


/* ====================== 共用區 ====================== */
.inventory,
.inventory * {
    border-radius: 8px;
}

/* .container {} */

.icon {
    display: inline-flex;
    align-items: center;
    opacity: 0.5;
    filter: grayscale(100%) brightness(200%);
}

.btn {
    cursor: pointer;
    user-select: none;

    position: relative;

    padding: 0.125rem 1rem;
    border: 1px solid rgb(60 70 76 / 62.5%);
    border-bottom: 3px solid rgb(60 70 76 / 62.5%);
    border-radius: var(--border-radius-pill);

    font-weight: bold;
    color: #eee;
    text-shadow: var(--text-shadow);

    background: linear-gradient(to bottom,
            color-mix(in srgb, #a1a9b4 90%, white),
            color-mix(in srgb, #a1a9b4 90%, black)) padding-box;
    box-shadow:
        inset 0 1px 0 rgb(255 255 255 / 37.5%),
        inset 0 -1px 1px rgb(255 255 255 / 25%),
        0 1px 1px rgb(60 70 76 / 37.5%);
}

.btn:active {
    border: 1px solid rgb(60 70 76 / 62.5%);
}

.btn--action {
    border: 1px solid #3297b2;
    border-bottom: 3px solid #3297b2;
    background: linear-gradient(to bottom,
            color-mix(in srgb, #36b8d0 90%, white),
            color-mix(in srgb, #36b8d0 90%, black));
}

.btn--action:active {
    border: 1px solid #3297b2;
}

.btn--disabled {
    color: rgb(255 255 255 / 62.5%);
}

.btn--black {
    border: 1px solid rgb(36 41 46 / 62.5%);
    border-bottom: 3px solid rgb(36 41 46 / 62.5%);

    color: #c5cfd8;

    background: linear-gradient(to bottom,
            color-mix(in srgb, #313a43 95%, white),
            color-mix(in srgb, #313a43 95%, black)) padding-box;
    box-shadow:
        inset 0 1px 0 rgb(214 219 255 / 37.5%),
        inset 0 -1px 1px rgb(214 219 255 / 12.5%),
        0 1px 1px rgb(36 41 46 / 37.5%);

}

/* ====================== 物品欄 ====================== */
.inventory {
    display: inline-block;

    margin: 10px;
    border: 1px solid var(--border);

    color: rgb(47 54 59 / 87.5%);

    background-color: rgb(28 41 49 / 75%);
    box-shadow:
        inset 1px 1px 0 0 rgb(199 218 255 / 12.5%),
        inset -1px -1px 0 0 rgb(199 218 255 / 12.5%),
        inset 0 5px 5px -2px rgb(199 218 255 / 12.5%);
}

/* ============= 頂部／導覽 ============= */
.inventory__nav {
    padding: var(--inventory-padding-y) var(--inventory-padding-x) 0;
    border-bottom: 1px solid var(--border);
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;

    box-shadow:
        0 1px 0 0 rgb(199 218 255 / 12.5%);
}

.inventory__title {
    margin-bottom: 0.75rem;

    font-family: Geneva, sans-serif;
    font-weight: bolder;
    color: #d0f000;
    text-shadow: var(--text-shadow), var(--text-shadow);
}

.inventory__tabs {
    display: flex;
    gap: 8px;
}

.inventory__tab-item {
    cursor: pointer;

    position: relative;

    flex: 1;

    padding: 4px;
    border: 1px solid var(--border);
    border-bottom: 0;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;

    font-weight: bold;
    color: #aeb8c4;
    text-align: center;
    text-shadow: var(--text-shadow);

    background-color: #6b7785;
    box-shadow:
        inset 0 1px 0 0 rgb(255 255 255 / 25%),
        inset -1px 0 0 0 rgb(255 255 255 / 25%),
        inset 1px 0 0 0 rgb(255 255 255 / 25%),
        inset 0 -15px 10px -10px rgb(0 0 0 / 37.5%);
}

.inventory__tab-item.action {
    top: -1px;
    color: white;
    background: linear-gradient(to bottom,
            color-mix(in srgb, #36b8d0 90%, white),
            color-mix(in srgb, #36b8d0 90%, black));
}

/* ============= 主要內容 ============= */
.inventory__container {
    padding: 0.625rem var(--inventory-padding-x);
}

/* ==== 主要區域 ==== */
.inventory__main {
    padding: 0.625rem;
    background-color: #d0d4d7;
    box-shadow:
        inset 0 0 0 1px rgb(255 255 255 / 75%),
        0 2px 1px rgb(0 0 0 / 75%);
}

/* 排序功能／總物品欄數等 */
.inventory__controls {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 0.8rem;
}

.inventory__controls-left {
    display: flex;
    gap: 0.5rem;
}

.inventory__controls-right {
    display: flex;
    gap: 0.5rem;
    align-items: center;
    font-family: Geneva, sans-serif;
}

.capacity__text {
    display: inline-block;

    font-size: 1rem;
    font-weight: bold;
    color: hsl(0deg 0% 0% / 0%);
    text-shadow: rgb(136 153 163) 0 0 1px, rgb(116 133 143 / 50%) 1px 0 0, rgb(255 255 255 / 75%) 0 1px 1px;
}

.capacity__count {
    padding: 0.125rem 1rem;
    border-radius: var(--border-radius-pill);

    font-weight: bolder;
    color: #6f7c85;

    background-color: #afb7bd;
    box-shadow:
        inset 0 1px 1px 0 rgb(0 0 0 / 25%),
        inset 0 -0.5px 1px 0 rgb(0 0 0 / 12.5%),
        0 1px 1px 0 rgb(255 255 255 / 50%);
}

.capacity__count span {
    color: #fff;
}

/* 物品格子區 */
.inventory__grid {
    display: inline-grid;
    grid-template-columns: auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto;
    gap: 8px;

    padding: 0.75rem;

    background-color: #eee;
    box-shadow:
        inset 0 0 0 1px rgb(255 255 255 / 75%),
        0 3px 1px rgb(0 0 0 / 12.5%);
}

.inventory__slot {
    position: relative;

    aspect-ratio: 1/1;
    width: 64px;

    background-color: #e2e2e2;
    box-shadow:
        inset 0 1px 0 rgb(0 0 0 / 5%),
        inset 0 2px 5px rgb(0 0 0 / 12.5%),
        0 1px 0 rgb(255 255 255 / 100%);
}

.inventory__slot.action {
    background-color: #50CAE0;
    box-shadow:
        0 1px 0 rgb(255 255 255 / 100%);
}

.inventory__slot-text {
    position: absolute;
    bottom: 1px;

    font-weight: bold;
    color: white;
    color: transparent;

    background: linear-gradient(to bottom, #fff, #9CF);
    background-clip: text;

    -webkit-text-stroke: 1px rgb(0 0 0);
}

/* 金錢顯示、物品強化或使用的快速導航按鈕 */
.inventory__status {
    display: flex;
    gap: 0.5rem;
    align-items: center;
    justify-content: space-between;

    margin-top: 0.75rem;
}

.inventory__currency,
.inventory__status-actions {
    display: flex;
    gap: 0.5rem;
}

.inventory__currency {
    flex-grow: 1;
}

.inventory__currency-bar {
    position: relative;

    display: flex;
    flex: 1;
    align-items: center;
    justify-content: flex-end;

    max-width: 256px;
    padding: 0.125rem 0.5rem;
    border-radius: var(--border-radius-pill);

    line-height: 1.5rem;

    background-color: white;
    box-shadow:
        0 -2px 1px rgb(0 0 0 / 12.5%);
}

.inventory__currency-icon {
    position: absolute;
    left: 0.5rem;
    font-size: 1.5rem;
}

.inventory__currency-icon.money {
    color: #e6940f;

    -webkit-text-stroke: 3px #ffde52;
}

.inventory__currency-icon.point {
    color: gray;
}

.inventory__status-actions {
    font-size: 1.1rem;
}

/* ==== 底部區域。用於搜尋跟看倉庫 ==== */
.inventory__utility {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 0.75rem;
}

.inventory__search-bar,
.inventory__utility-actions {
    display: flex;
    gap: 0.5rem;
}

.inventory__search-bar {
    position: relative;
    flex-grow: 1;
}

.inventory__search-input {
    flex: 1;

    max-width: 256px;
    padding: 0.25rem 1rem;
    border: 1px solid rgb(0 0 0 / 25%);
    border-radius: var(--border-radius-pill);

    color: white;

    background-color: rgb(0 0 0 / 12.5%);
    box-shadow: rgb(255 255 255 / 25%) 0 1px 2px 0;
}

.inventory__search-input::placeholder {
    font-size: 1rem;
}

.search-icon {
    position: relative;
    right: 2.5rem;

}