:root {
    --border: #282F37;
    --border-light: #3c464c;
    --inventory-padding-x: 1rem;
    --inventory-padding-y: 1rem;
    --border-radius-pill: 50rem;
    --text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.25);

    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

* {}

body {
    background-color: #58576d;
    background-image: url("https://picsum.photos/id/42/1980/1024");
}

/* ====================== 共用區 ====================== */
.inventory,
.inventory * {
    border-radius: 8px;
}

.container {}

.btn {
    cursor: pointer;
    user-select: none;

    position: relative;

    padding: 0.125rem 1rem;
    border: 1px solid rgba(60, 70, 76, 0.625);
    border-bottom: 3px solid rgba(60, 70, 76, 0.625);
    border-radius: var(--border-radius-pill);

    color: #eeeeee;
    text-shadow: var(--text-shadow);

    background: linear-gradient(to bottom,
            color-mix(in srgb, #a1a9b4 90%, white),
            color-mix(in srgb, #a1a9b4 90%, black)) padding-box;
    box-shadow:
        inset 0 1px 0 rgba(255, 255, 255, 0.375),
        inset 0 -1px 1px rgba(255, 255, 255, 0.25),
        0 1px 1px rgba(60, 70, 76, 0.375);
}

.btn:active {
    border: 1px solid rgba(60, 70, 76, 0.625);
}

.btn--action {
    border: 1px solid #3297b2;
    border-bottom: 3px solid #3297b2;
    background: linear-gradient(to bottom,
            color-mix(in srgb, #36b8d0 90%, white),
            color-mix(in srgb, #36b8d0 90%, black));
}

.btn--action:active {
    border: 1px solid #3297b2;
}

/* ====================== 物品欄 ====================== */
.inventory {
    display: inline-block;

    margin: 40px 40px;
    border: 1px solid var(--border);

    color: rgba(47, 54, 59, 0.875);

    background-color: rgba(27, 31, 37, 0.75);
    /* background: linear-gradient(to bottom,
            color-mix(in srgb, rgba(8, 17, 35, 0.75) 90%, white),
            color-mix(in srgb, rgba(8, 17, 35, 0.75) 90%, black)); */
    box-shadow:
        inset 1px 1px 0 0 rgba(199, 218, 255, 0.125),
        inset -1px -1px 0 0 rgba(199, 218, 255, 0.125),
        inset 0 5px 5px -2px rgba(199, 218, 255, 0.125);
}

/* ============= 頂部／導覽 ============= */
.inventory__nav {
    padding: var(--inventory-padding-y) var(--inventory-padding-x) 0;
    border-bottom: 1px solid var(--border);
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;

    box-shadow:
        0px 1px 0 0 rgba(199, 218, 255, 0.125);
}

.inventory__title {
    margin-bottom: 0.75rem;
    font-family: Geneva, sans-serif;
    font-weight: bolder;
    color: #d0f000;
    text-shadow: var(--text-shadow), var(--text-shadow);
}

.inventory__tabs {
    display: flex;
    gap: 8px;
}

.inventory__tab-item {
    position: relative;
    /* 為了跟底線貼合 */
    top: 1px;

    flex: 1;

    padding: 4px;
    border: 1px solid var(--border);
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;

    font-weight: bold;
    color: #aeb8c4;
    text-align: center;

    background-color: #6b7785;
}

.inventory__tab-item {
    flex: 1;

    padding: 4px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;

    font-weight: bold;
    color: #aeb8c4;
    text-align: center;

    background-color: #6b7785;
}

/* ============= 主要內容 ============= */
.inventory__container {
    padding: var(--inventory-padding-y) var(--inventory-padding-x);
}

/* ==== 主要區域 ==== */
.inventory__main {
    padding: 0.75rem;
    background-color: #d0d4d7;
}

/* 排序功能／總物品欄數等 */
.inventory__controls {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 0.8rem;
}

.inventory__controls-left {
    display: flex;
    gap: 0.5rem;
}

.inventory__controls-right {
    display: flex;
    gap: 0.5rem;
    align-items: center;
    font-family: Geneva, sans-serif;
}

.capacity__text {
    display: inline-block;

    font-size: 1rem;
    font-weight: bold;
    color: hsla(0, 0%, 0%, 0);
    text-shadow: rgb(136, 153, 163) 0 0 1px, rgba(116, 133, 143, 0.5) 1px 0 0, rgb(255, 255, 255, .75) 0 1px 1px;
}

.capacity__count {
    padding: 0.125rem 1rem;
    border-radius: var(--border-radius-pill);

    font-weight: bolder;
    color: #6f7c85;

    background-color: #afb7bd;
    box-shadow:
        inset 0 1px 1px 0 rgba(0, 0, 0, 0.25),
        inset 0 -0.5px 1px 0 rgba(0, 0, 0, 0.125),
        0 1px 1px 0 rgba(255, 255, 255, 0.5);
}

.capacity__count span {
    color: #ffffff;
}

/* 物品格子區 */
.inventory__grid {
    display: inline-grid;
    grid-template-columns: auto auto auto auto auto auto auto auto;
    gap: 8px;

    padding: 8px;

    background-color: #eeeeee;
}

.inventory__slot {
    aspect-ratio: 1/1;
    width: 64px;
    background-color: #e2e2e2;
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.5);
}


/* 金錢顯示、物品強化或使用的快速導航按鈕 */


/* ==== 底部區域。用於搜尋跟看倉庫 ==== */