:root {
    --border: #2f363b;
    --border-light: #3c464c;
    --inventory-padding-x: 1rem;
    --inventory-padding-y: 1rem;
    --border-radius-pill: 50rem;

    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

* {}

body {
    background-color: #58576d;
}

/* ====================== 共用區 ====================== */
.inventory,
.inventory * {
    border-radius: 8px;
}

.btn {
    cursor: pointer;

    padding: 0.125rem 1rem;
    border: 1px solid rgba(60, 70, 76, 0.625);
    border-bottom: 3px solid rgba(60, 70, 76, 0.625);
    border-radius: var(--border-radius-pill);

    color: #eeeeee;

    background: linear-gradient(to bottom,
            color-mix(in srgb, #a1a9b4 90%, white),
            color-mix(in srgb, #a1a9b4 90%, black)) padding-box;
    box-shadow:
        inset 0 1px 0 rgba(255, 255, 255, 0.375),
        inset 0 -1px 1px rgba(255, 255, 255, 0.25),
        0 1px 1px rgba(60, 70, 76, 0.375);
}

.btn--action {
    border: 1px solid #3297b2;
    border-bottom: 3px solid #3297b2;
    background: linear-gradient(to bottom,
            color-mix(in srgb, #36b8d0 90%, white),
            color-mix(in srgb, #36b8d0 90%, black));
}

/* ====================== 物品欄 ====================== */
.inventory {
    display: inline-block;

    margin: 40px 40px;
    border: 1px solid var(--border-light);

    color: rgba(47, 54, 59, 0.875);

    background-color: rgb(30, 31, 34);
}

/* ============= 頂部／導覽 ============= */
.inventory__nav {
    padding: var(--inventory-padding-y) var(--inventory-padding-x) 0;
    border-bottom: 1px solid var(--border-light);
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.inventory__title {
    margin-bottom: 0.75rem;
    font-weight: bolder;
    color: #d0f000;
}

.inventory__tabs {
    display: flex;
    gap: 8px;
}

.inventory__tab-item {
    position: relative;
    /* 為了跟底線貼合 */
    top: 1px;

    flex: 1;

    padding: 4px;
    border: 1px solid var(--border-light);
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;

    font-weight: bold;
    color: #aeb8c4;
    text-align: center;

    background-color: #6b7785;
}

.inventory__tab-item {
    flex: 1;

    padding: 4px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;

    font-weight: bold;
    color: #aeb8c4;
    text-align: center;

    background-color: #6b7785;
}

/* ============= 主要內容 ============= */
.inventory__container {
    padding: var(--inventory-padding-y) var(--inventory-padding-x);
}

/* ==== 主要區域 ==== */
.inventory__main {
    padding: 0.75rem;
    background-color: #d0d4d7;
}

/* 排序功能／總物品欄數等 */
.inventory__controls {
    display: flex;
    gap: 0.5rem;
    margin-bottom: 0.8rem;
}

/* 物品格子區 */
.inventory__grid {
    display: inline-grid;
    grid-template-columns: auto auto auto auto auto auto auto auto;
    gap: 8px;

    padding: 8px;

    background-color: #eeeeee;
}

.inventory__slot {
    aspect-ratio: 1/1;
    width: 64px;
    background-color: #e2e2e2;
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.5);
}

/* 金錢顯示、物品強化或使用的快速導航按鈕 */


/* ==== 底部區域。用於搜尋跟看倉庫 ==== */